/*
WARNING: only use this if you have vibrancy set to hud in the vencord settings of the desktop app
i do not know what will happen if not but it isnt my fault
*/

/* make the app itself transparent and blurred */
html, body, #app-mount, [class^="app_"] {
    background: transparent !important;
}

/* this guy powers most of the backgrounds. begone */
[class^="bg__"] {
    background: transparent !important;
}

/* fix titlebar blur (top is blurred only up to sidebar) */
[class^="bar_"] {
    /* osx adds padding for no reason */
    padding-left: 0px !important;
    
    /* empty div */
    [class^="leading_"] {
        width: var(--custom-guild-sidebar-width);
        height: 32px;
    }

    /* title doesnt allow blur to be there if not */
    [class^="title_"] {
        background-color: var(--background-base-lowest) !important;
        width: calc(100% - var(--custom-guild-sidebar-width));
        left: unset;
    }
}

/* outer sidebar container (guilds + channels) */
div[class^="sidebar_"] {
    background: transparent !important; /* whats a color */

    /* i see you you little fuck */
    &::after {
        background: transparent !important;
    }
}

/* guilds navbar inside sidebar */
nav[class^="wrapper_"][class*="guilds_"],
nav[class^="wrapper_"][class*="guilds_"] *:not(div[class^="folderGroup__"] *):not(div[class^="listItem__"] *) /* folders/guilds shouldnt be transparent since they break */ {
    background: transparent !important;
}

/* channels list inside sidebar */
div[class^="sidebarList_"][class*="sidebarListRounded_"],
div[class^="sidebarList_"][class*="sidebarListRounded_"] *:not([class^="userAvatar__"] *):not([role="button"]):not([class^="containerDefault_"] *) /* exclude some stuff so it looks right */ {
    background: transparent !important;

    /* we can just let it go under, looks cleaner imo aswell */
    [class^="scroller__"] {
        margin-bottom: unset !important;
    }
    [class^="container__"] {
        padding-bottom: unset !important;
    }
}

/* settings sidebar */
[data-layer="USER_SETTINGS"] {
    background: transparent !important;
    div[class^="standardSidebarView__"] {
        background: transparent !important;
    }
    div[class^="sidebarRegion__"] * {
        [class*="item_"][aria-selected="true"] {
            background-color: var(--background-mod-strong) !important;
        }
        background: unset !important;
    }
}

/* simulate the settings sidebar size change with the sidebar itself for better integration */
#app-mount {
    --custom-guild-sidebar-width: clamp(
        272px,
        calc(0.526 * (100vw - 1100px) + 272px),
        475.333px
    );
}

/* oh yeah we need to remove this now */
[class^="sidebarResizeHandle_"] {
    display: none !important;
}

/* switch toggle */
[data-toggleable-component="switch"] {
    position: relative;
    width: 38px !important;
    height: 23px !important;
    border: 1px solid #6b6969 !important;
    background-color: #494848;
    border-radius: 9999px;
    cursor: pointer;
    transition: background-color 0.4s ease,
    border 0.4s ease;

    &[class*="checked__"] {
        border: 1px solid #4983ea !important;
        background-color: #1561d4 !important;
        [class^="slider__"] {
            left: 12px !important;
        }
    }

    [class^="slider__"] {
        position: absolute;
        top: -3px;
        left: -3px !important;
        width: 21px;
        height: 21px;
        border-radius: 50%;
        background-color: #d2d1d1 !important;
        transition: left 0.4s ease;

        /* Hide inner SVG */
        > svg {
            display: none !important;
        }
        > rect {
            fill: #d2d1d1;
        }
    }
}

/* switch toggle but vencord edition */
[class^="container__"]:has(> .vc-switch-slider) {
    position: relative;
    width: 38px !important;
    height: 23px !important;
    border: 1px solid #6b6969 !important;
    background-color: #494848;
    border-radius: 9999px;
    cursor: pointer;
    transition: background-color 0.4s ease,
    border 0.4s ease;

    &[class*="checked__"] {
        border: 1px solid #4983ea !important;
        background-color: #1561d4 !important;
    }

    [class^="slider__"] {
        position: absolute;
        top: -3px;
        left: 0px;
        width: 21px;
        height: 21px;
        border-radius: 50%;
        background-color: #d2d1d1 !important;
        transition: transform 0.4s ease;

        /* Hide inner SVG */
        > svg {
            display: none;
        }
        > rect {
            fill: #d2d1d1;
        }
    }
}

/* checking your boxes */
[data-toggleable-component="checkbox"] {
    &:active {
        >div[class^="checkbox_"] {
            background: #6b6b6b;
        }
        &[class*="checked_"] {
            >div[class^="checkbox_"] {
                background: #2472e8;
            }
        }
    }
    >div[class^="checkbox_"] {
        border: none;
        opacity: 0.74;
        background: linear-gradient(#595758, #6b6b6b);
        position: relative;
        width: 20px !important;
        height: 20px !important;
    }
    &[class*="checked_"] {
        >div[class^="checkbox_"] {
            border: none;
            opacity: 0.9;
            background: linear-gradient(#2472e8, #1453b2);
        }
    }
}

/* radio button */
[class^="radioIndicatorGroup_"] {
    >svg {
        background: linear-gradient(#595758, #6b6b6b);
        &[class*="Checked"] {
            background: linear-gradient(#2472e8, #1453b2);
        }
        [class*="Fill"] {
            fill: transparent
        }
        [class*="Stroke"] {
            display: none;
        }
        :not([class*="Fill"]):not([class*="Stroke"]) {
            fill: #dce8fa;
            r: 5;
        }
    }
}

[role="slider"] {
    [class^="bar_"] {
        background-color: #494848;
        [class^="barFill"] {
            background-color: #1769e6;
            border: none;
        }
    }
    [class^="track_"] {
        [class^="grabber"] {
            background: #a2a1a1 !important;
            border: none;
            box-shadow: none;
        }
    }
}
