/* remove custom titlebar */
div[class*="-bar"] {
    display: none !important;
    min-height: none !important;
    padding-left: none !important;
    position: initial !important;
}
/* remove padding above */
.visual-refresh {
    --custom-app-top-bar-height: 0px;
}
/* add padding to the server buttons scroller thing */
[class*="-tree"] [class*="-itemsContainer"] {
    padding-top: 5px !important;
}
