/* remove custom titlebar */
div.bar_c38106 {
    display: none !important;
    min-height: none !important;
    padding-left: none !important;
    position: initial !important;
}
/* remove padding above */
.visual-refresh {
    --custom-app-top-bar-height: 0px;
}
/* add padding to the server buttons scroller thing */
.tree_ef3116 .itemsContainer_ef3116 {
    padding-top: 5px !important;
}
