/* remove custom titlebar */
div.bar_c38106 {
    display: none !important;
    min-height: none !important;
    padding-left: none !important;
    position: initial !important;
}
/* remove padding above */
.visual-refresh {
    --custom-app-top-bar-height: 0px;
}
/* add padding to the app itself for it to look good with the native titlebar */
.app__160d8 {
    top: 5px !important;
}
