/**
 * @name my discor theme
 * @author defautluser0
 * @description minimal theme or smth idk
 * @version 1.0
 */


/* this is what started this theme. hides the gifts button on the chatbox (also the gif and sticker buttons) */
[class*="-inner"] > [class*="-buttons"] > div:nth-of-type(2), [class*="-inner"] > [class*="-buttons"] > div:nth-of-type(3), [class^="-inner"] > [class^="-buttons"] > button {
    display: none;
}

/* goodbye useless buttons on the top row */
[class^="recentsIcon"] {
    display: none !important;
}
[href="https://support.discord.com"] {
    display: none !important;
}
/* TODO: make this actually work under different locales */
div[aria-label^="Show User Profile"] {
    display: none !important;
}
div[aria-label="Start Video Call"] {
    display: none !important;
}
div[aria-label="Hide Member List"] {
    display: none !important;
}


/* hide useless shit in the context menu */
#channel-attach-listen {
    display: none;
}
#user-context-note {
    display: none;
}
#user-context-close-dm {
    display: none;
}
#user-context-invite-to-server {
    display: none;
}
#message-apps {
    display: none;
}
#user-context-mark-channel-read[aria-disabled="true"] {
    display: none;
}
#guild-context-mark-guild-read[aria-disabled="true"] {
    display: none;
}
#channel-context-mark-channel-read[aria-disabled="true"] {
    display: none;
}
#message-mark-unread {
    display: none;
}
div[role="separator"] {
    display: none;
}

/* hide nitro and shop but keep friends and quests cuz theyre actually kinda useful */
div[data-list-id*="private-channels-"] > ul > div:nth-of-type(2), 
div[data-list-id*="private-channels-"] > ul > div:nth-of-type(3) {
  display: none;
}

/* hide server guide and channels & roles */
li div[class*="-containerDefault"][class*="-wrapper"] {
    display: none;
}
div[class*="-sectionDivider"] {
    display: none !important;
}

/* remove the 12px padding between channels */
div[style="height: 12px;"], div[style="height: 8px;"] {
    display: none;
}

/* no top padding on the channels menu */
[class*="-wrapper"] {
    padding-top: 0px;
}

/* no padding between channels on the channels menu */
[class*="-link"] {
  padding: 1px;
  padding-inline: 3px;
}

/* no padding on the members menu */
[class*="-membersGroup"] {
    padding: 0px !important;
    padding-top: 8px !important;
    padding-left: 5px !important;
    height: auto !important;
}

/* hide the boosts thing */
[class*="-container"][class*="-containerWithMargin"] {
    display: none;
}

/* remove the fucking discover thing */
[data-list-id="guildsnav"] > div > div > div[class*="-listItem"]:nth-last-child(2) {
  display: none;
}

/* remove the fucking separator between sections in the guilds scroll thing */
div[class*="-listItem"]:has(div[class*="-guildSeparator"]) {
    display: none;
}

/* move add server up --space-xs (6px) */
[class*="-tutorialContainer"] {
    padding-bottom: var(--space-xs) !important;
}
