/**
 * @name my discor theme
 * @author defautluser0
 * @description minimal theme or smth idk
 * @version 1.0
 */

/* this is what started this theme. hides the gifts button on the chatbox */
button[aria-label="Send a gift"] {
    display: none;
}
/* hide gif picker button */
button[aria-label="Open GIF picker"] {
    display: none;
}
/* hide sticker button */
button[aria-label="Open sticker picker"] {
    display: none;
}

/* goodbye useless buttons on the top row */
div[aria-label="Inbox"] {
    display: none;
}
div[aria-label="Help"] {
    display: none;
}
div[aria-label="Show User Profile"] {
    display: none;
}
div[aria-label="Start Video Call"] {
    display: none;
}
div[aria-label="Hide Member List"] {
    display: none;
}

/* hide useless shit in the context menu */
#channel-attach-listen {
    display: none;
}
#user-context-note {
    display: none;
}
#user-context-close-dm {
    display: none;
}
#user-context-user-profile {
    display: none;
}
#user-context-invite-to-server {
    display: none;
}
#user-context-apps {
    display: none;
}
#user-context-mark-channel-read[aria-disabled="true"] {
    display: none;
}
div.separator_c1e9c4 {
    display: none;
}

/* hide useless shit in the attachments popup and make it more compact */
div[aria-label="Modify Attachment"] {
    display: none;
}
div.filenameContainer_f847a3 {
    display: none;
}
li.upload_df1eaf {
    min-height: auto;
    max-height: auto;
    min-width: auto;
    max-width: auto;
}

/* hide nitro and shop but keep friends cuz its actually kinda useful */
li.channel__972a0:not(.dm__972a0) {
    display: none;
}
div.friendsButtonContainer__35e86 .channel__972a0 {
    display: block;
}

/* hide server guide and channels & roles */
li div.containerDefault_c69b6d.wrapper__2ea32 {
    display: none;
}
.sectionDivider__629e4 {
    display: none;
}

/* remove the 12px padding between channels */
div[style="height: 12px;"] {
    display: none;
}

/* no top padding on the channels menu */
.wrapper__2ea32 {
    padding-top: 0px;
}

/* no padding between channels on the channels menu */
.link__2ea32 {
    padding: 3px;
    padding-left: 6px;
}

/* no padding on the chat messages */
.group-spacing-16 .groupStart__5126c {
    --custom-group-spacing-start: auto;
}

/* fix the NEW thing on messages */
.cozyMessage__5126c.beforeGroup__5126c {
    min-height: auto;
}
.group-spacing-16 .divider__5126c.beforeGroup__5126c {
    top: 0;
    margin-top: 0px;
    margin-bottom: 0px;
}

/* no padding on the members menu */
.membersGroup_c8ffbb {
    padding: 0px;
    padding-top: 8px;
    padding-left: 5px;
    height: auto;
}

/* hide the apps button on the chatbox & fix the padding on the jump to present part */
div.channelAppLauncher_e6e74f {
    display: none;
}
.jumpToPresentBar__0f481 {
    right: 16px;
}

/* hide the boosts thing */
.container_eff079.containerWithMargin_eff079 {
    display: none;
}

/* hide nitro tab on settings */
[aria-label="Nitro"] {
    display: none;
}

/* no quest */
.mask_c721cc {
    display: none;
}

/* activities my ass */
.headerContainer_bc6acb {
    display: none;
}

/* Remove Edit Image with Apps button from images (stole from aliucord server & fixed myself with recent classes update) */
div.hoverButtonGroup__06ab4 {
    display: none;
}

/* remove the fucking discover thing */
.footer__214dc {
    display: none;
}
/* remove the fucking separator between sections in the guilds scroll thing */
div.listItem__650eb div.guildSeparator__252b6 {
    display: none;
}
/* fix the scroll problem in the channels thing TODO:fix */
/*[aria-label=Channels] {
    height: auto !important;
}
*/
/* no hallow een for you :3 */
.wrapper_c1da7a {
    display: none;
}
